.editor-popup-frame {
    position: fixed;
    z-index: 1;
    width: 50%;
    height: 38rem;
    left: 25%;
    top: 10%;
    border: solid 3px;
    border-radius: 30px;
    border-color: #002d72;
    background-color: white;
    overflow: hidden;
}

.editor-popup-header {
    background: #002d72;
    height: 2.5rem;
}

.editor-popup-text {
    position: absolute;
    top: 1%;
    left: 4%;
    font-size: 1.2rem;
    color: #ffffff;
}

.editor-popup-content {
    padding: 2rem 1rem 3rem 1rem;
    overflow-y: scroll;
    height: 100%
}

.close-popup {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    color: #002d72;
    position: absolute;
    top: 1%;
    right: 3%;
}

.close-popup {
    cursor: pointer;
}

