.location {
    display: flex;
}

.location img {
    width: 1.1rem;
    height: 1.1rem;
}

.location p {
    margin: 0 0 0 .2rem;
    padding: 0;
    font-size: 1.1rem;
}

.location.l img {
    width: 2rem;
    height: 2rem;
}

.location.l p {
    font-size: 2rem;
}



