# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\19981\OneDrive - Johns Hopkins\JHUCourses\OOSE\Project\project-g09\code\backend\JHUsed-server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
