/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: OpenSans;
    font-weight: 600;
    src: url(./styles/OpenSans/OpenSans-SemiBold.ttf) format("OpenSans");
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 700;
    src: url(./styles/OpenSans/OpenSans-Bold.ttf) format("OpenSans");
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

